body {
  background-color: grey;
}
#drum-machine {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-pads {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: 35px;
  cursor: pointer;
  outline: 5px solid orange;
  width: 500px;
  box-sizing: border-box;
}

.drum-pad{
  box-sizing: border-box;
  background-color: white;
  width: 50%;
  height: 90%;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
}
